<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <div>
  <h1>
    Welcome to {{ title | uppercase}}!
  </h1>
  <app-courses></app-courses>
  {{text | summary:30}}
</div>
<div>
  <app-favourite [alias-is-favourite]="post.isFavourite" (change)="getCount($event)"></app-favourite>
</div>
Clicked me button was clicked for {{count}} times.
<div>
  <app-bootstrap-panel>
    <div class="heading">App Heading</div>
    <div class="body">App Body</div>
  </app-bootstrap-panel>
</div>